__pycache__/
*.pyc
dist/
build/
*.egg-info/
.DS_Store
site/

Test.PyPI API: pypi-AgENdGVzdC5weXBpLm9yZwIkNjk1MTdjMGItYjQ1NS00N2ViLWI5MTUtMWJhMjU0NWViODA1AAIqWzMsIjVkYjc1NzEzLWMzNDUtNDgwOC04MDgxLTM3ZmI2ODg3OGNiYiJdAAAGILEagkOrIyG5OcDxS2JvX8oe6OOkaak5Ji0dtmOuG82r 
PyPI API: